<h1>{{ product.title }}</h1>
<p>{{ product.price | money}}</p>


<div>
    {{product.description }}
</div>

{% form 'product' , product %}
    <select name = "id">
        {% for variant in product.variants %}
            <option value = {{variant.id}}>
                {{variant.title}}
               
            </option>
        {% endfor %}
    </select>

    {% for variant in product.variants %}
        {% if variant.title == 'Small' %}
            {% assign discountedPrice = variant.price | times: 0.4 %}
            <p>Discounted Price: {{ discountedPrice | money }}</p>
        {% else %}
            <p>Price: {{ variant.price | money }}</p>
        {% endif %}
    {% endfor %}


    <button type = "submit"> Add to cart </button>
{% endform %}




