<h1>{{ product.title }}</h1>
<p>{{ product.price | money}}</p>

{% if product.compare_at_price %}
    <p>Regular Price: {{ product.compare_at_price | money }}</p>
    <p>Discounted Price: {{ product.price | money }}</p>
    <p>Discount: {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round: 2 }}% off</p>
{% else %}
    <p>Price: {{ product.price | money }}</p>
{% endif %}

<div>
    {{product.description }}
</div>

{% form 'product' , product %}
    <select name = "id">
        {% for variant in product.variants %}
            <option value = {{variant.id}}>
                {{variant.title}}
                {% if variant.compare_at_price %}
                    - Regular Price: {{ variant.compare_at_price | money }}
                    - Discounted Price: {{ variant.price | money }}
                    - Discount: {{ variant.compare_at_price | minus: variant.price | times: 100.0 | divided_by: variant.compare_at_price | round: 2 }}% off
                {% endif %}
            </option>
        {% endfor %}
    </select>

    <button type = "submit"> Add to cart </button>
{% endform %}




