<h1>{{ product.title }}</h1>
<p>{{ product.price | money}}</p>


<div>
    {{product.description }}
</div>

{% form 'product' , product %}
    <select name = "id">
        {% for variant in product.variants %}
            <option value = {{variant.id}}>
                {{variant.title}}
               
            </option>
        {% endfor %}
    </select>

    {%- assign coefficient = 0.4 -%}
    {%- if schema.coefficient != blank -%}
        {%- assign coefficient = schema.coefficient -%}
    {%- endif -%}

    {%- for variation in product.variants -%}
        {%- assign compareAtPrice = variation.compare_at_price | plus: 0 -%}
        {%- assign price = variation.price | plus: 0 -%}
        {%- assign discountPercentage = compareAtPrice != 0 ? ((compareAtPrice - price) / compareAtPrice) : 0 -%}

        <div>
        <p>Price: ${{ variation.price | money }}</p>
        {%- if discountPercentage >= coefficient -%}
            <p>Final Sale</p>
        {%- endif -%}
        <input type="hidden" name="coefficient" value="{{ coefficient }}">
        </div>
    {%- endfor -%}


    <button type = "submit"> Add to cart </button>
{% endform %}




