<h1>{{ product.title }}</h1>
<p>{{ product.price | money}}</p>


<div>
    {{product.description }}
</div>

{% form 'product' , product %}
    <select name = "id">
        {% for variant in product.variants %}
            <option value = {{variant.id}}>
                {{variant.title}}
               
            </option>
        {% endfor %}
    </select>

    {% for variant in product.variants %}

        {% assign compareAtPrice = variant.compare_at_price %}
        {% assign currentPrice = variant.price %}
        {% assign discountPercentage = 1 - (currentPrice / compareAtPrice) %}

        {% if discountPercentage >= 0.4 %}
            <p>Final Sale</p>
        {% else %}
            {% if variant.title == 'Your Variant Title' %}
                {% assign discountedPrice = currentPrice | times: 0.9 %}
                <p>Discounted Price: ${{ discountedPrice | money }}</p>
            {% else %}
                <p>Price: ${{ currentPrice | money }}</p>
            {% endif %}
        {% endif %}
    {% endfor %}


        {% comment %} {% elsif variant.title == 'Small' %}
            {% assign discountedPrice = variant.price | times: 0.4 %}
            <p>Discounted Price: {{ discountedPrice | money }}</p>
        {% elsif variant.title == 'Medium' %}
            {% assign discountedPrice = variant.price | times: 0.4 %}
            <p>Discounted Price: {{ discountedPrice | money }}</p>
        {% elsif variant.title == 'Large' %}
            {% assign discountedPrice = variant.price | times: 0.4 %}
            <p>Discounted Price: {{ discountedPrice | money }}</p>
        {% else %}
            <p>Price: {{ variant.price | money }}</p>
        {% endif %}
    {% endfor %} {% endcomment %}


    <button type = "submit"> Add to cart </button>
{% endform %}




