<h1>{{ product.title }}</h1>
<p>{{ product.price | money}}</p>


<div>
    {{product.description }}
</div>

{% form 'product' , product %}
    <select name = "id">
        {% for variant in product.variants %}
            <option value = {{variant.id}}>
                {{variant.title}}
               
            </option>
        {% endfor %}
    </select>

    {% assign coefficient = settings.coefficient | default: 0.4 %}

    {% for variant in product.variants %}
        {% assign compareAtPrice = variant.compare_at_price | default: variant.price %}
        {% assign discount = (compareAtPrice - variant.price) / compareAtPrice %}

    {% if variant.title == 'Small' or variant.title == 'Large' %}
        {% assign discountedPrice = variant.price %}
    {% else %}
        {% assign discountedPrice = variant.price | times: (1 - coefficient) %}
    {% endif %}

    <p>Price: {{ discountedPrice | money }}</p>

    {% if discount >= coefficient %}
        <p>Final Sale</p>
    {% endif %}

  <input type="hidden" name="discount_coefficient" value="{{ coefficient }}">
{% endfor %}



        {% comment %} {% elsif variant.title == 'Small' %}
            {% assign discountedPrice = variant.price | times: 0.4 %}
            <p>Discounted Price: {{ discountedPrice | money }}</p>
        {% elsif variant.title == 'Medium' %}
            {% assign discountedPrice = variant.price | times: 0.4 %}
            <p>Discounted Price: {{ discountedPrice | money }}</p>
        {% elsif variant.title == 'Large' %}
            {% assign discountedPrice = variant.price | times: 0.4 %}
            <p>Discounted Price: {{ discountedPrice | money }}</p>
        {% else %}
            <p>Price: {{ variant.price | money }}</p>
        {% endif %}
    {% endfor %} {% endcomment %}


    <button type = "submit"> Add to cart </button>
{% endform %}




